/******************************** 
  css/layout.css
********************************/

/* fonts.css 추가 */
@import url(..//css/fonts.css);


/* 초기화 */
* { margin: 0; padding: 0; }
li { list-style: none; }
a { text-decoration: none; color: #444; }
body * { box-sizing: border-box; }


/* 헤더 고정, 너비 15%(단, 최대너비는 300px) */
header {
  position: fixed;
  width: 15%;
  max-width: 300px;
  height: 100%;
  background-color: #222;
}

/* 
  nav 높이 35px, 상대 위치 
  배경색: #222
*/
nav {
  margin-left: 15%;
  background-color: #222;
  height: 50px;
}


/******************************** 
  모듈
********************************/

/* 모듈그룹 컨테이너는 상대위치 */
.container {
  position: relative;
  width: 85%;
  margin-left: 15%;
}

/* 
*모듈
 -배치: 가로형
 -기본 높이: 250px
*/
.mo {
  float: left;
  height: 500px;
  height: 50vh;
  overflow: hidden;
}

/* 1행 */
.m1 {
  width: 100%;
  height: 100vh; 
}
.m2 {
  display: none;
 }

/* 2행 */
.m3 {
  width: 25%; 
}
.m4 {
  width: 75%;
  height: 50vh;
 }

 .m41 {
  width: 100%;
  height: 15vh;
 }

 .m41 span {
  font-size: 2.5rem;
  line-height: 2.5vh;
  font-weight: 900;
  padding-left: 20px;
  border-left: 5px solid #555;
  opacity: 0.6;
  transition: all 0.6s;
  line-height: 7.5vh;
 }

 .m41:hover span {
  opacity: 1;
 }

/* 3행 */
.m5 {
  width: 25%;
 }
.m6 {display: none; }
.m7 {
  width: 25%;
 }
.m8 {display: none; }

/* 4행 */
.m9 {
  width: 25%;
 }
.m10 {
  width: 25%;
 }
.m11 {
  width : 100%;
  height: 15vh; 
}
.m12 {
  width: 25%;
}
.m13 {
  width: 25%;
}
.m14 {
  width: 25%;
}

/* 
 상대위치, 크기는 부모 요소에 맞추기
*/
.mo > div {
  position: relative;
  width: 100%;
  height: 100%;
}


/******************************** 
  헤더
********************************/

/* 
 로고: 절대위치
 크기: 200 x 200
 아래로 50px, 가운데 배치
*/
#logo {
  position: absolute;
  left: 50%;
  margin-left: -100px;
  width: 200px;
  height: 200px;
  background-image: url(../images/pepsi_logo1_-removebg-preview.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* 절대위치, 아래로 300px */
#gnb {
  position: absolute;
  top: 300px;
  margin: 0 auto;
  margin-left: 10%;
}

/* 내부여백: 상하 10px, 좌우 30px */
#gnb li a {
  display: block;
  color: #fff;
  font-weight: bold;
  font-style: italic;
  padding: 30px 30px;
}

/* 기본 글자 크기만큼 우측 여백 */
#gnb li a i { 
  margin-right: 1rem;
 }
#gnb li a:hover { 
  color: dodgerblue;
 }

/* 
  절대위치, 위로 50px
  크기: 120 x 50
*/
.sns {
  display: block;
  position: absolute;
  bottom: 50px;
  width: 120px;
  height: 50px;
  left: 50%;
  margin-left: -80px;
  text-align: center;
}

/* 가로 배치 */
.sns a { 
  float: left;
 }

/* 너비 50%, 대문자화, 글꼴은 Arial, Helvetica */
.sns .stxt {
  font-size: 14px;
  width: 50%;
  text-transform: uppercase;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

/* 너비: 40px, 글자 크기: 30px */
.sns .icon {
  width: 40px;
  font-size: 30px;
  color: #ddd;
  opacity: 0.5;
}

.sns .icon:hover {
  opacity: 1;
  color: dodgerblue;
}



/******************************** 
  퀵링크
********************************/

/* 
  절대위치, 7px 아래로 이동
  글자 색상: #eee
  글꼴: Arial, Helvetica
*/
nav a {
  color: white;
  font-weight: bold;
  position: absolute;
  top: 15px;
}

nav a i {
  display: block;
  color: white;
}

nav a:hover {
  color: skyblue;
}

/* 좌우 위치: 20px, 100px */
nav a:nth-child(1) { left: 50%; }
nav a:nth-child(2) { left: 60%; }
nav a:nth-child(3) { left: 70%; }
nav a:nth-child(4) { left: 80%; }
nav a:nth-child(5) { left: 90%; }



/******************************** 
  컨테이너
********************************/

/* .bg 에 배경 이미지 삽입 */
.bg1 { 
  background-image: url('..//images/Bg1.jpg.jpg');
 }
.bg2 {
  background-image: url(..//images/bg2.jpg);
  }
.bg3 { background-image: url(../images/image1.jpg); }
.bg4 { background-image: url(../images/image2.jpg); }
.bg5 { background-image: url(../images/image3.jpg); }
.bg6 { background-image: url(../images/image4.jpg); }
.bg7 { background-image: url(../images/image07.jpg); }
.bg8 { background-image: url(../images/image08.jpg); }
.bg9 { background-image: url(../images/image09.jpg); }

/* 배경 이미지 크기 및 위치 조정 */
.bg {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.pkg {
  margin: 4%;
}

.pkg .bg span {
  color: #eee;
  text-shadow: 2px 2px 2px black;
}
/* 위로 */
#btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 50px;
  height: 50px;
  background-color: rgba(199 , 199, 199, 0.5);
}

#btn a {
  color: crimson;
  font-size: 1.5rem;
}
/* .
  bg 내부 텍스트(span) 
  기본 글자 크기의 4.5배
  절대위치, 오른쪽으로 20px, 아래 기준 0
  투명하게
*/
.bg span {
  position: absolute;
  bottom: 0%;
  right: 50px;
  font-size: 4.5rem;
  font-weight: 300;
  color: #333;
}

.bg2 span {
  position: absolute;
  top: 10%;
  left: 5%;
  color: #eee;
}

.m11 strong {
  color: #eee;
  border-left: #eee 5px solid;
  padding-left: 20px;
  opacity: 0.8;
  transition: all 0.6s;
}

/* 호버시 보이기 */
.mo:hover span {
  opacity: 1;
  }

.m11:hover span {
  opacity: 1;
}
/*
  메인 모듈 재설정
  보이도록 변경
  기본 글자 크기의 8배
  위로 50px, 오른쪽으로 5px
*/
.bg1 span {
  color: #eee;
  top: 20%;
  left: 10%;
}

.bg1 span:nth-last-child(2) {
  top: 30%;
  font-weight: 400;
  font-size: 6rem;
}

.bg1 .list {
  position: absolute;
  top: 10%;
  width: 200px;
  height: 50px;
  color: #aaa;
  font-size: 30px;
  text-align: right;
  border-bottom: #aaa 5px solid;
}


/* 텍스트 모듈 공통 */
/*
  배경색: 흰색, 글자색: #555
  내부여백: 상하 40px, 좌우 30px
*/
.txt {
  color: #eee;
  background-color: #222;
  line-height: 40px;
  padding: 40px 30px;
}

/* 
  기본 글자 크기의 2.5배
  글자색: #444
  아래 여백: 20px
*/
.txt strong {
  font-size: 2.5rem;
  color: #eee;
  margin-bottom: 20px;
}

/*
  기본 글자 크기의 20배
  글자색: #2184e7
  절대위치, 아래로 70px, 오른쪽으로 200px
  투명하게
*/
.txt i {
  position: absolute;
  font-size: 20rem;
  right: -100%;
  bottom: -70px;
  opacity: 0;
}

/* 텍스트 모듈 호버 효과 */
/* 
  배경색: #6ccce7
  글자색: 흰색
*/
.mo:hover .txt {
  background-image: linear-gradient(
    90deg, #014b92, #008ad3
  );
  color: #ddd;
}

/* 글자색: 흰색 */
.mo:hover .txt strong {
  color: white;
  }
  @keyframes arrow {
    0% {
      opacity: 1;
    }
    100% {
      left : 70%;
      opacity: 0.5;
    }
  }
  
/* 오른쪽 기준 0, 반투명 */
.mo:hover .txt i {
  display: block;
  left: 50%;
  opacity: 0.5;
  animation: arrow 1s infinite alternate linear;
}

/* 일부 텍스트 모듈 재설정 */
.mo:nth-child(3) .txt {  }
.mo:nth-child(11) .txt {  }

/* 모듈 3 아이콘 재설정 
  아래로 40px, 오른쪽으로 20px
  글자색: 흰색
  기본 글자 크기의 15배
  불투명도 0.7
*/
.mo:nth-child(3) .txt i {

}



/******************************** 
  전환 효과 및 모션
********************************/

/* 전환시간 0.6초 */
header,
nav,
.mo,
#gnb a { 
  transition: all 0.6s;
 }

/* 키프레임 zoom
  0 ~ 100%로 확대
*/
@keyframes arrow {
  0% {
    opacity: 1;
  }
  100% {
    left : 70%;
    opacity: 0.5;
  }
}

@keyframes figure {
  0% {
    opacity: 0.3;
  }

  100% {
    opacity: 1;
  }
}

/* zoom 1초 적용(한번만 실행) */
.mo { 
  animation: figure 1s;
 }


/* 배경 이미지 모듈 텍스트 
  10배 확대, 전환 시간: 0.6초
*/
.bg span {
  transform: scale(10);
  transition: 0.6s;
  opacity: 0;
}

/* 호버시 크기: 100% */
.mo:hover .bg span {
  transform: scale(1);
  opacity: 1;
}

/* 전환시간: 0.6초 */
.mo .bg1 span {
  transition: 0.6s;
}

/* .bg1 호버시 글자
  Y축 한바퀴 회전
  글자색: #222
  그림자: 흰색으로 지정. 가로, 세로, 흐림도 1px 
*/
.mo .bg1:hover span {
  
}

/* 
  텍스트 모듈 효과 
  strong 전환 1초
  i 전환 0.7초
*/
.txt,
.txt strong {  }
.txt i { 
  transition: 0.5s;
 }




/******************************** 
  반응형 - 미디어쿼리
********************************/


/* 화면 너비 1600px 이하에서 적용 */
@media screen and (max-width: 1600px) {

  /* 
    상대위치, 너비 100%, 높이 80px 
  */
  header {
    
  }

  /* 너비 100% */
  nav,
  .container {
    
  }

  /* 로고 변경
    너비 150px, 우측 아래로 20px
  */
  #logo {
    
  }

  /* 왼쪽으로 200px */
  #gnb {  }

  /* 가로 배치 */
  #gnb li {  }

  /* 왼쪽으로 80px, 위로 20px */
  .sns {  }
}


/* 화면 너비 1200px 이하에서 적용 */
@media screen and () {
  .sns {  }

  /* 왼쪽으로 20px */
  #gnb {  } 

  /* 모듈 크기 재설정 */
  .m1 {   }
  .m2 {   }
  .m3 {   }
  .m4 {   }
  .m5 {   }
  .m6 {   }
  .m7 {   }
  .m8 {   }
  .m9 {   }
  .m10 {  }
  .m11 {  }
  .m12 {  }
}


/* 화면 너비 1024px 이하에서 적용 */
@media screen and () {
  .m1 {  }
  .m2 {  }
  .m3 {  }
  .m4 {  }
  .m5 {  }
  .m6 {  }
  .m7 {  }
  .m8 {  }
  .m9 {  }
  .m10 { }
  .m11 { }
  .m12 { }

}


/* 화면 너비 780px 이하에서 적용 */
@media screen and () {
  .m1 {  }
  .m2 {  }
  .m3 {  }
  .m4 {  }
  .m5 {  }
  .m6 {  }
  .m7 {  }
  .m8 {  }
  .m9 {  }
  .m10 { }
  .m11 { }
  .m12 { }
}


/* 화면 너비 640px 이하에서 적용 */
@media screen and () {

  /* 높이 150px */
  header {  }

  nav {  }

  /* 
    크기: 150 x 50
    상대위치, 아래로 20px 
    가운데 정렬
  */
  #logo {
    
  }

  /* 아래로 90px, 높이 40px */
  #gnb {
   
  }
  #gnb li {  }
  #gnb li a i {  }
}


/* 화면 너비 480px 이하에서 적용 */
@media screen and () {

  /*
    헤더 고정, 높이: 160px
    배경색: 투명
    z-index: 50
  */
  header {
    
  }

  /* 크기: 200 x 200, 아래로 20px */
  #logo {
    
  }

  /* 상대위치, 너비: 60%, 아래로 100px */
  #gnb {
    
  }

  /* 상하 여백: 20px */
  #gnb li {
    
  }

  /* 
    배경색: 검정
    글자색: 흰색
    불투명도: 0.7
    둥근모서리: 10px
  */
  #gnb li a {
    
  }
  #gnb li a i {  }

  .container {
    
  }

  /* 숨기기 */
  .container .mo {  }

  /* 고정 위치, 꽉 채워 보이기 */
  .container .m1 {
    
  }

  /* 글자 숨기기 */
  .container .m1 span {  }

  /* 호버시 불투명 1, 1.1배 확대 */
  #gnb a:hover {
    
  }
}
