/******************************** 
  css/layout.css
********************************/

/* fonts.css 추가 */



/* 초기화 */
* { margin: 0; padding: 0; }
li { list-style: none; }
a { text-decoration: none; color: #444; }
body * { box-sizing: border-box; }


/* 헤더 고정, 너비 15%(단, 최대너비는 300px) */
header {

}

/* 
  nav 높이 35px, 상대 위치 
  배경색: #222
*/
nav {

}


/******************************** 
  모듈
********************************/

/* 모듈그룹 컨테이너는 상대위치 */
.container {

}

/* 
*모듈
 -배치: 가로형
 -기본 높이: 250px
*/
.mo {

}

/* 1행 */
.m1 { }
.m2 { }

/* 2행 */
.m3 { }
.m4 { }

/* 3행 */
.m5 { }
.m6 { }
.m7 { }
.m8 { }

/* 4행 */
.m9 { }
.m10 { }
.m11 { }
.m12 { }

/* 
 상대위치, 크기는 부모 요소에 맞추기
*/
.mo > div {

}


/******************************** 
  헤더
********************************/

/* 
 로고: 절대위치
 크기: 200 x 200
 아래로 50px, 가운데 배치
*/
#logo {
  
}

/* 절대위치, 아래로 300px */
#gnb {
  
}

/* 내부여백: 상하 10px, 좌우 30px */
#gnb li a {

}

/* 기본 글자 크기만큼 우측 여백 */
#gnb li a i {  }
#gnb li a:hover {  }

/* 
  절대위치, 위로 50px
  크기: 120 x 50
*/
.sns {

}

/* 가로 배치 */
.sns a {  }

/* 너비 50%, 대문자화, 글꼴은 Arial, Helvetica */
.sns .stxt {

}

/* 너비: 40px, 글자 크기: 30px */
.sns .icon {

}



/******************************** 
  퀵링크
********************************/

/* 
  절대위치, 7px 아래로 이동
  글자 색상: #eee
  글꼴: Arial, Helvetica
*/
nav a {

}

/* 좌우 위치: 20px, 100px */
nav a:nth-child(1) {  }
nav a:nth-child(2) {  }
nav a:nth-child(3) {  }
nav a:nth-child(4) {  }



/******************************** 
  컨테이너
********************************/

/* .bg 에 배경 이미지 삽입 */
.bg1 {  }
.bg2 {  }
.bg3 {  }
.bg4 {  }
.bg5 {  }
.bg6 {  }
.bg7 {  }

/* 배경 이미지 크기 및 위치 조정 */
.bg {

}

/* .
  bg 내부 텍스트(span) 
  기본 글자 크기의 4.5배
  절대위치, 오른쪽으로 20px, 아래 기준 0
  투명하게
*/
.bg span {
  
}

/* 호버시 보이기 */
.mo:hover span {  }


/*
  메인 모듈 재설정
  보이도록 변경
  기본 글자 크기의 8배
  위로 50px, 오른쪽으로 5px
*/
.bg1 span {

}


/* 텍스트 모듈 공통 */
/*
  배경색: 흰색, 글자색: #555
  내부여백: 상하 40px, 좌우 30px
*/
.txt {
  
}

/* 
  기본 글자 크기의 2.5배
  글자색: #444
  아래 여백: 20px
*/
.txt strong {
  
}

/*
  기본 글자 크기의 20배
  글자색: #2184e7
  절대위치, 아래로 70px, 오른쪽으로 200px
  투명하게
*/
.txt i {
  
}

/* 텍스트 모듈 호버 효과 */
/* 
  배경색: #6ccce7
  글자색: 흰색
*/
.mo:hover .txt {
  
}

/* 글자색: 흰색 */
.mo:hover .txt strong {  }

/* 오른쪽 기준 0, 반투명 */
.mo:hover .txt i {  }

/* 일부 텍스트 모듈 재설정 */
.mo:nth-child(3) .txt {  }
.mo:nth-child(11) .txt {  }

/* 모듈 3 아이콘 재설정 
  아래로 40px, 오른쪽으로 20px
  글자색: 흰색
  기본 글자 크기의 15배
  불투명도 0.7
*/
.mo:nth-child(3) .txt i {

}



/******************************** 
  전환 효과 및 모션
********************************/

/* 전환시간 0.6초 */
header,
nav,
.mo,
#gnb a {  }

/* 키프레임 zoom
  0 ~ 100%로 확대
*/
@keyframes zoom {

}

/* zoom 1초 적용(한번만 실행) */
.mo {  }


/* 배경 이미지 모듈 텍스트 
  10배 확대, 전환 시간: 0.6초
*/
.bg span {
  
}

/* 호버시 크기: 100% */
.mo:hover .bg span {
  
}

/* 전환시간: 0.6초 */
.mo .bg1 span {
  
}

/* .bg1 호버시 글자
  Y축 한바퀴 회전
  글자색: #222
  그림자: 흰색으로 지정. 가로, 세로, 흐림도 1px 
*/
.mo .bg1:hover span {
  
}

/* 
  텍스트 모듈 효과 
  strong 전환 1초
  i 전환 0.7초
*/
.txt,
.txt strong {  }
.txt i {  }




/******************************** 
  반응형 - 미디어쿼리
********************************/


/* 화면 너비 1600px 이하에서 적용 */
@media screen and (max-width: 1600px) {

  /* 
    상대위치, 너비 100%, 높이 80px 
  */
  header {
    
  }

  /* 너비 100% */
  nav,
  .container {
    
  }

  /* 로고 변경
    너비 150px, 우측 아래로 20px
  */
  #logo {
    
  }

  /* 왼쪽으로 200px */
  #gnb {  }

  /* 가로 배치 */
  #gnb li {  }

  /* 왼쪽으로 80px, 위로 20px */
  .sns {  }
}


/* 화면 너비 1200px 이하에서 적용 */
@media screen and () {
  .sns {  }

  /* 왼쪽으로 20px */
  #gnb {  } 

  /* 모듈 크기 재설정 */
  .m1 {   }
  .m2 {   }
  .m3 {   }
  .m4 {   }
  .m5 {   }
  .m6 {   }
  .m7 {   }
  .m8 {   }
  .m9 {   }
  .m10 {  }
  .m11 {  }
  .m12 {  }
}


/* 화면 너비 1024px 이하에서 적용 */
@media screen and () {
  .m1 {  }
  .m2 {  }
  .m3 {  }
  .m4 {  }
  .m5 {  }
  .m6 {  }
  .m7 {  }
  .m8 {  }
  .m9 {  }
  .m10 { }
  .m11 { }
  .m12 { }

}


/* 화면 너비 780px 이하에서 적용 */
@media screen and () {
  .m1 {  }
  .m2 {  }
  .m3 {  }
  .m4 {  }
  .m5 {  }
  .m6 {  }
  .m7 {  }
  .m8 {  }
  .m9 {  }
  .m10 { }
  .m11 { }
  .m12 { }
}


/* 화면 너비 640px 이하에서 적용 */
@media screen and () {

  /* 높이 150px */
  header {  }

  nav {  }

  /* 
    크기: 150 x 50
    상대위치, 아래로 20px 
    가운데 정렬
  */
  #logo {
    
  }

  /* 아래로 90px, 높이 40px */
  #gnb {
   
  }
  #gnb li {  }
  #gnb li a i {  }
}


/* 화면 너비 480px 이하에서 적용 */
@media screen and () {

  /*
    헤더 고정, 높이: 160px
    배경색: 투명
    z-index: 50
  */
  header {
    
  }

  /* 크기: 200 x 200, 아래로 20px */
  #logo {
    
  }

  /* 상대위치, 너비: 60%, 아래로 100px */
  #gnb {
    
  }

  /* 상하 여백: 20px */
  #gnb li {
    
  }

  /* 
    배경색: 검정
    글자색: 흰색
    불투명도: 0.7
    둥근모서리: 10px
  */
  #gnb li a {
    
  }
  #gnb li a i {  }

  .container {
    
  }

  /* 숨기기 */
  .container .mo {  }

  /* 고정 위치, 꽉 채워 보이기 */
  .container .m1 {
    
  }

  /* 글자 숨기기 */
  .container .m1 span {  }

  /* 호버시 불투명 1, 1.1배 확대 */
  #gnb a:hover {
    
  }
}
